.header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background-color: white;
  align-items: center;
  justify-content: space-between; /* Зрушуємо елементи на різні кінці */
  flex-direction: row; /* Зміна на горизонтальне вирівнювання */
  padding: 10px 20px; /* Додаємо падінг для заголовка */
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.header ul li {
  margin-top: -5px;
}

.header li a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
  margin: 10px;
}

.logo-name-div {
  padding: 10px;
}

.logo-name {
  font-family: "Silka-Regular";
  font-weight: bold;
}

.header-menu {
  font-family: "SilkaMono-Regular";
  align-items: center;
  cursor: pointer;
  position: absolute; /* Фіксуємо кнопку в правому верхньому куті */
  right: 1rem; /* Вирівнювання по правому краю */
  top: 1rem; /* Вирівнювання по верхньому краю */
  user-select: none;
}

.menu-btn {
  display: none;
}

.menu-icon {
  cursor: pointer;
   position: absolute;
  right: 1rem;
  top: 1rem; 
  user-select: none;
}

.menu-icon .navicon {
  display: block;
  height: 2px;
  width: 18px;
  background-color: black;
  transition: background 0.2s ease-out;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background-color: black;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}

.menu {
  max-height: 0;
  overflow: hidden;
}

.open {
  max-height: 100%;
  background-color: aliceblue;
}

/* Адаптивність для великих екранів */
@media (min-width: 48em) {
  .header {
  flex-direction: row;

  }

  .header ul li {
    float: left;
    margin-bottom: 0;
  }

  .header .menu {
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .switch {
    margin-left: 5px;
  }
}

.switch {
  margin: 10px;
}

.grey-color {
  color: #868e96;
}
