

.issue-icons {
  font-size: 18px;
  width: 5%;
  float: left;
  text-align: left;
}



.parent-repo-div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "SilkaMono-Regular";
  font-size: 12px;
  margin-top: 5px;
}

.parent-repo-div > a {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {

  .issue-icons {
    width: 7%;
    font-size: 20px;
  }
}
