.topButton {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: visibility 0.3s, opacity 0.3s ease;

  opacity: 0; /* Default state */
  visibility: hidden; /* Default state */
}

.topButton-visible {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: visibility 0.3s, opacity 0.3s ease;
  color: red;
  background-color: aquamarine;
  border: solid 1px black ;
  
  opacity: 1; /* When visible */
  visibility: visible; /* When visible */
}

.topButton.hidden {
  opacity: 0; /* When hidden */
  visibility: hidden; /* When hidden */
}