  .cards-body-div {
    text-align: center;
    width: 100%;
  }
  
  @media (max-width: 1380px) {
    .issues-header, .pull-requests-header {
      font-size: 35px;
    }
  }
  
  @media (max-width: 768px) {
    .issues-header, .pull-requests-header {
      font-size: 25px;
    }
  }
  