.section {
    font-size: 40px;
    line-height: 1.1;
    font-family: "SilkaMono-Regular";
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .cards-body-div {
    text-align: center;
    width: 100%;
  }
  
  @media (max-width: 1380px) {
    .issues-header, .pull-requests-header {
      font-size: 35px;
    }
  }
  
  @media (max-width: 768px) {
    .issues-header, .pull-requests-header {
      font-size: 25px;
    }
  }
  