

.podcast {
  width: 600px;
}

.podcast-main-div {
  display: table-row;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

@media (max-width: 768px) {
  .podcast {
    width: 300px;
  }
  .podcast-main-div {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .podcast {
    margin-top: 20px;
    width: 500px;
  }
  .podcast-main-div {
    text-align: center;
  }
}
