.hobbies-cards {
  margin-top: 50px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.hobbie-section {
  display: flex;
  align-content: center;
  flex-direction: row;
  overflow: hidden;
}

.hobbie-section > * {
  flex: 1;
  align-content: center;
  margin: 30px;
}

@media (max-width: 768px) {
  .hobbies-cards {
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .hobbie-section {
    flex-direction: column;
    align-items: center;
  }

  .hobbie-section > * {
    margin: 20px 0; /* Reduce margin for better spacing */
    width: 100%; /* Ensure elements take full width */
  }
}
