.contact-main {
  width: 100%;
}

.contact-message {
  text-align: center;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}


.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {

}