.blog-section {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .blog-heading-div {
    display: flex;
  }
  
  .blog-heading-text-div {
    flex: 1;
    text-align: center;
  }
  
  .blog-heading-text {
    font-size: 56px;
    font-weight: 400;
    font-family: "SilkaMono-Medium";
    line-height: 1.1;
    margin-top: 40px;
  }
  
  .blog-header-detail-text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "SilkaMono-Medium";
    text-align: center;
  }
  
  /* Медіа-запити для адаптивності */
  @media (max-width: 1380px) {
    .blog-heading-text {
      font-size: 50px;
      margin-top: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .blog-heading-text {
      font-size: 30px;
      margin-top: 0;
    }
  
    .blog-header-detail-text {
      font-size: 16px;
      margin-left: 0;
      margin-right: 0;
      line-height: normal;
      text-align: center;
    }
  }
  