.pr-top {
  display: flex;
  width: 100%;
}

.files-changed-div {
  width: 20%;
  text-align: right;
}




.pr-icons {
  font-size: 18px;
  width: 5%;
  float: left;
  text-align: left;
}

.pr-down {
  width: 95%;
  display: flex;
  margin-left: 4%;
}

.changes-repo-div{
  width: 90%;
  margin-right: 0px;
  display: inline-block;
}

.parent-repo-div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: SilkaMono-Regular;
  font-size: 12px;
  margin-top: 5px;
}

.parent-repo-div > a {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.changes-files-div {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

#tooltip-top > .tooltip-inner {
  background-color: #000;
  color: #fff;
  border: 1px solid #062e56;
}

#tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
}

@media (max-width: 1380px) {
  .pr-top {
    flex-direction: column;
  }

  .changes-repo-div {
    width: 87%;
  }

  .files-changed-div {
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    text-align: left;
  }

  .pr-icons {
    width: 7%;
    font-size: 20px;
  }



  .pr-down {
    width: 93%;
    margin-left: 7%;
  }
}
