.about-main {
  overflow: hidden;
}


.title-main {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  font-family: "SilkaMono-Regular";
  line-height: normal;
  margin-bottom: 35px;
}

.location-div {
  font-size: 12px;
  text-shadow: #ffebcd;
  text-align: center;
}
.loc-im {
  width: 18px;
}
.opp-div {
  padding-bottom: 1rem;
}

/* .row {
  display: flex;
} */

.main-content-profile {
  flex: 80%;
}

.image-content-profile {
  text-align: center;
  max-width: 100%;
}

.bio-text {
  line-height: 30px;
  font-size: 22px;
}

.icon {
  line-height: 45px;
  font-size: 19px;
  display: inline;
}

@media (max-width: 768px) {
  .row {
    /*display: flex;
    flex-direction: column;*/
    margin-bottom: -20px;
  }

  .main-content-profile {
    text-align: center;
    order: 2;
  }
  .blog-sub {
    margin-bottom: 0px;
    margin-top: -15px;
  }
  .bio-text {
    font-size: 16px;
  }

  .image-content-profile {
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }

  .icon {
    width: 16px;
    line-height: 30px;
    font-size: 16px;
  }



}
@media (min-width: 768px) {
  .loc-im {
    width: 21px;
  }
  .icon {
    font-size: 20px;
  }
}
