.about-main {
  overflow: hidden;
}

.location-div {
  font-size: 12px;
  text-shadow: #ffebcd;
  text-align: center;
}
.loc-im {
  width: 18px;
}
.opp-div {
  padding-bottom: 1rem;
}

/* .row {
  display: flex;
} */


.bio-text {
  line-height: 30px;
  font-size: 22px;
}

.icon {
  line-height: 45px;
  font-size: 19px;
  display: inline;
}

@media (max-width: 768px) {
  .row {
    /*display: flex;
    flex-direction: column;*/
    margin-bottom: -20px;
  }
  .blog-sub {
    margin-bottom: 0px;
    margin-top: -15px;
  }
  .bio-text {
    font-size: 16px;
  }

  .icon {
    width: 16px;
    line-height: 30px;
    font-size: 16px;
  }

}
@media (min-width: 768px) {
  .loc-im {
    width: 21px;
  }
  .icon {
    font-size: 20px;
  }
}
