.publication-card-div {
  width: 100% ;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1rem;
  border-radius: 3%;
  cursor: pointer;
  transition: all 0.3s ease;

}

.publication-card-div:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  transform: scale(1.02);
}

.publication-details-div {
  display: flex;
  flex-direction: row;
}


@media (min-width: 769px) {

  .publication-details-div {
    flex-direction: column;
  }

}


