.footer-text {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  font-family: "SilkaMono-Regular";
}


.footer {
  width: 100%;
  position: relative;
  bottom: 0rem;
  padding: 10px;
}




@media (min-width: 768px) {
  .footer-text {
    font-size: 25px;
  }
}
