.footer-text {
  font-size: 17px;
  text-align: center;
  color: #868e96;
  font-weight: bold;
  font-family: "SilkaMono-Regular";
}


.footer {
  float: left;
  width: 100%;
  position: relative;
  padding: 10px;
}


@media (min-width: 768px) {
  .footer-text {
    font-size: 25px;
  }
}
