/* Загальний стиль для input */
.input-main {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 2px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Стиль при фокусі */
.input-main:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Стиль для помилок */
.input-main.error {
  border-color: #dc3545;
  box-shadow: 0 0 8px rgba(220, 53, 69, 0.5);
}

/* Стиль для success (успішного) стану */
.input-main.success {
  border-color: #28a745;
  box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
}
