@font-face {
  font-family: Silka-Regular;
  src: url("./assets/fonts/silka-regular-webfont.ttf");
}
@font-face {
  font-family: Silka-Medium;
  src: url("./assets/fonts/Silka/silka-medium-webfont.ttf");
}
@font-face {
  font-family: Silka-SemiBold;
  src: url("./assets/fonts/Silka/silka-semibold-webfont.ttf");
}
@font-face {
  font-family: SilkaMono-Regular;
  src: url("./assets/fonts/Silka/Silka_Mono/silkamono-regular-webfont.ttf");
}
@font-face {
  font-family: SilkaMono-Medium;
  src: url("./assets/fonts/Silka/Silka_Mono/silkamono-bold-webfont.ttf");
}

h1, h2, h3, h4, p, a, b, strong  {padding: 0; margin: 0; font-weight: 400; letter-spacing: normal;}
li, ul {padding: 0; margin: 0; list-style: none;}
h1.center, h2.center, h3.center, h4.center, p.center {text-align: center;}
a:focus { outline: none; }

h1          {font-family: 'SilkaMono-Medium', sans-serif; font-size: 45px; letter-spacing: -1px;}
h2          {font-family: 'Silka-SemiBold', sans-serif; font-size: 22px; letter-spacing: 2px;}
h3          {font-family: 'SilkaMono-Regular', sans-serif; font-size: 18px; }
p           {font-family: 'SilkaMono-Regular'; font-size: 16px;}
strong 	    {font-family: 'Silka-SemiBold', sans-serif;}
a           {font-family: 'SilkaMono-Regular'; text-decoration: none; outline: 0;}
p a         {text-decoration: underline;}
p a:hover   {color: rgba(255, 255, 255, 1)}

@media screen and (max-width: 640px){
    h1 {font-size: 28px;}
    h2 {}
    h3 {}
    p  {}
}

body {
  font-family: 'Silka-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  top: 0;  
  left: 0;
}

html, body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

::-webkit-scrollbar { 
  display: none; 
}

* { 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}


.left{
  margin-right: 100%;
}

.right{
  margin-left: 100%;
}

/* Контейнери і загальна структура */
.main-page {
  background-image: url("/src/assets/images/backgrounds/main-container.jpg");

  /* background-image: url("/src/assets/images/backgrounds/main-theme.jpg"); */
  background-position: center center;
  background-size: contain;
  width: 100vw;
  /* height: 100vw; */

}

.container {
  width: 100%;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-position: center center;


}

.cont-image {
  width: 100%;
  margin: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100%;
}

.greetings {
  margin-top: 5rem;
}

.section-two-components, .section-three-components, .section-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-skill {
  display: flex;
  width: 100%;
  padding: 20px 10px;
  margin: auto;
  flex-direction: column;
}
.card-skill > * {
  flex: 1;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 100%;
  height: auto;
}

.skills-main-div {
  display: flex;
  flex-direction: column;
}
.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.bar-skills {

}

/* cards */
.cards-div-main {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
  margin: 0.5rem;
  /* margin-top: 2rem; */
}

.long-card {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.long-card:hover{
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  transform: scale(1.02);
}

.long-card-header {
  width: 80%;
  float: top-left;
  text-align: left;
}

.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.card-title > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.card-title > a:hover {
  color: #000;
}

.card-title > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.card-title > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #000;
}

.text-card-content {
  text-align: right;
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 0px;
  font-size: 12px;
  padding: 2px;
  border-radius: 10%;
  color: #000;
}

.text-green-positive {
  margin-right: 0.25rem;
  color: #28a745;
  font-size: 14px;
  font-weight: bold;
}

.text-red-negative {
  margin-right: 0.25rem;
  margin-bottom: 0px;
  color: #d73a49;
  font-size: 14px;
  font-weight: bold;
}

.card-img-main-div{ 
  width: 8%;
  position: absolute;
  left: 75%;
  margin: 1rem;
  bottom: 5%;
} 
.card-main-image {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.small-img-toolltip {
  display: inline-block;
  margin-left: 0.5rem;
  height: 20px;
  width: auto;
}

@media (max-width: 768px) { 
  .cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
  .long-card {
    width: 85%;
  }
  .long-card-header {
    width: 100%;
  }
  .card-title {
    white-space: normal;
    overflow: hidden;
    font-size: 15px;
  }
  .card-subtitile {
    font-size: 12px;
    margin-top: 3px;
  }

  .card-img-main-div{
    display: none
  }
}

/* Адаптивний дизайн для текстових блоків */
.heading-text-div, .second-heading-text-div {
  text-align: center;
  padding-bottom: 1.5rem;
  background-image: url("/src/assets/images/backgrounds/text-section.png");
  background-size: cover;
  box-shadow: 1 10px 30px rgba(0, 0, 0, 0.1);
}


.text-title{
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  font-family: "SilkaMono-Regular";
  line-height: normal;
  margin-bottom: 40px;
}

.text-second-title {
  font-size: 30px;
  font-family: "SilkaMono-Regular";
  text-align: center;
}

.text-subtitle {
  font-size: 20px;
  margin: 20px;
  font-family: "SilkaMono-Medium";
  text-align: center;
}

.text-detail {
  font-size: 18px;
  margin: 0.5rem;
  font-family: "Silka-SemiBold";
}


/* Адаптивні медіа-запити */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6rem;
  }

  .card, .section, .section-two-components, .section-three-components, .section-right {
    flex-direction: column;
  }

  .text-title {
    font-size: 30px;
  }

  .text-second-title {
    font-size: 20px;
  }

  .text-subtitle {
    font-size: 16px;
  }

  .text-detail {
    font-size: 14px;
    line-height: normal;
  }

  .profile-image {
    max-width: 250px;
  }

  .cont-image {
    width: 100%;
  }
}

@media (max-width: 1380px) {
  html, body {
    font-size: 16px;
  }

  .profile-image {
    max-width: 300px;
  }

  .text-title {
    font-size: 40px;
  }

  .text-subtitle {
    font-size: 18px;
  }
  .cont-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .cont-image {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
  }
  .cont-image {
    width: 100%;
  }
}

/* Стилі для зображень профілю PICTURES*/ 

.picture {
  width: 100%;                /* Контейнер занимает всю ширину */
  max-width: 400px;           /* Ограничение максимальной ширины */
  /* margin: 1.5rem;             Центрирование блока */
  overflow: hidden;           /* Скрытие части изображения за пределами контейнера */
  border-radius: 10px;      
  transition: all 0.3s ease;  /* Плавные переходы */
  cursor: pointer;
}

.picture img {
  width: 100%;                /* Изображение адаптируется по ширине контейнера */
  height: auto;               /* Сохранение пропорций */
  display: block;             /* Убирает нижние отступы у img */
  object-fit: cover;          /* Обрезка изображения, если оно выходит за пределы контейнера */
  border-radius: 10px;        /* Закругление углов изображения */
  transition: all 0.3s ease;  /* Плавные переходы для hover */
}

.picture:hover {
  box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  transform: scale(1.02);      /* Легкое увеличение изображения при наведении */
}

.picture img:hover {
  filter: brightness(0.9);     /* Легкое затемнение изображения при наведении */
}

/* Адаптивный дизайн для различных экранов */
@media (max-width: 768px) {
  .picture {
    max-width: 90%;            /* Уменьшение контейнера на меньших экранах */
  }
}

@media (max-width: 480px) {
  .picture {
    max-width: 100%;           /* Контейнер занимает 100% ширины на мобильных устройствах */
  }
}


.profile-image-div {
  text-align: center;
}
.profile-image {
  border-radius: 50%;
  border: 0.5rem solid ;
  margin-left: auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 30px 30px -30px;
  transition: all 0.3s ease-out;
}

.profile-image:hover {
  box-shadow: none;
}

/* Кнопки */
.btn {
  height: 50px;
  color: #000;
  background: #fff;
  display: inline-block;
  padding: 13px 30px 13px 30px;
  position: relative;
  font-size: 14px; 
  line-height: 24px; 
  text-decoration: none; 
  border-radius: 25px;
  transition: all 0.3s ease-out;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
  transition: all 0.3s ease-out;
  box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  transform: scale(1.08);      /* Легкое увеличение изображения при наведении */
}

.btn-go-up {
  color: #000;
  position: fixed;
  background: #fff;
  border-radius: 25px;
  z-index: 1000;
  right: 20px;
  top: 50%;
  display: inline-block;
  padding: 13px 30px;
  transition: visibility 0.3s, opacity 0.3s ease;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-out;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-go-up:hover{
  cursor: pointer;
  color: #000;
  background: #fff;
  transition: all 0.3s ease-out;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  transform: translateY(-10%);
}


.btn-go-up.visible {
  opacity: 1;
}

.btn.hidden {
  pointer-events: none;
  opacity: 0;
}

/* Форми */
/* Основные стили для элементов формы */
.form-main {
  background-color: grey;
  border: 1px solid #b5bdc4;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.form {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.form:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.25); 
}

.form-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

textarea {
  width: 100%;
  resize: vertical; /* Разрешаем изменять высоту текстового поля */
}

/* Кнопки */
.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 15px rgba(0, 91, 187, 0.4); /* Подсвечивание кнопки при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .form {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .form-lg {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .btn-submit {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

/* Адаптивность для больших экранов */
@media (min-width: 1200px) {
  .form {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .form-lg {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .btn-submit {
    font-size: 1.4rem;
    padding: 1rem;
  }
}


@media (min-width: 340px) {
  .container {
    max-width: 340px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .text-subtitle {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
