.blog-card {
  max-height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 0.25rem;
  position: relative;
  cursor: pointer;
  overflow: auto;
  transition: transform 0.3s ease;
  text-align: center;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.blog-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #000000;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: wheat;
  font-family: courier, sans-serif;
}

